absl-py==1.4.0
aiohttp @ file:///C:/b/abs_c4zmy2l696/croot/aiohttp_1670009573673/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair==4.2.2
ansi2html @ file:///C:/b/abs_04or_ghil0/croot/ansi2html_1678961172453/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
array-record==0.2.0
asgiref==3.6.0
astetik==1.13
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///C:/b/abs_43ozhz2a8g/croots/recipe/async-timeout_1664876362767/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293025093/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.6.2
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
brotlipy==0.7.0
cachetools==5.3.0
category-encoders==2.6.0
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chances==0.1.9
chardet==5.1.0
charset-normalizer==2.1.1
click @ file:///C:/ci/click_1646038595831/work
cloudpickle==2.2.1
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
contourpy==1.0.7
cryptography==40.0.2
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///D:/bld/cython_1680712482544/work
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
dill==0.3.6
Django==4.2
djangorestframework==3.14.0
dm-tree==0.1.8
dnspython==2.3.0
docker-pycreds==0.4.0
dominate==2.7.0
einops==0.6.1
elastic-transport==8.4.0
elasticsearch==8.7.0
eli5==0.13.0
emoji==2.8.0
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
etils==1.2.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
Faker==18.4.0
fastjsonschema==2.16.3
filelock==3.12.0
findspark==2.0.1
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-Compress @ file:///C:/b/abs_a7ii9f64l5/croot/flask-compress_1668714951742/work
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
fonttools==4.39.3
frozendict==2.3.7
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fuzzywuzzy==0.18.0
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
geonamescache==1.6.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
googleapis-common-protos==1.59.0
gower==0.1.2
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1650135259906/work
greenlet==2.0.2
grpcio==1.54.0
h5py==3.8.0
hdbscan @ file:///D:/bld/hdbscan_1675624117633/work
html5lib==1.1
httplib2==0.22.0
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imageio==2.28.0
imageio-ffmpeg==0.4.8
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata @ file:///C:/b/abs_20ndzb2j6v/croot/importlib-metadata_1678997085534/work
importlib-resources==5.12.0
impyute==0.0.8
ipykernel @ file:///C:/ci/ipykernel_1646982785443/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1657634415474/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itsdangerous==2.1.2
ivy-core==1.1.10
jax==0.4.8
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonpatch==1.32
jsonpointer==2.3
jsonschema @ file:///C:/ci/jsonschema_1650008058050/work
jupyter @ file:///C:/ci/jupyter_1607685287094/work
jupyter-client @ file:///C:/ci/jupyter_client_1650515989971/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-dash @ file:///C:/b/abs_96r9juukqb/croot/jupyter-dash_1679330874281/work
jupyter-http-over-ws==0.0.8
jupyter_core @ file:///C:/b/abs_9d0ttho3bs/croot/jupyter_core_1679906581955/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kaggle==1.5.13
keras @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/keras_1669760570649/work/keras-2.10.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kerasplotlib==1.0
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
kneed==0.8.2
lazy_loader==0.2
Levenshtein==0.21.0
libclang==16.0.0
llvmlite==0.38.1
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib==3.7.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mca==1.0.3
mdurl==0.1.2
MechanicalSoup==1.2.0
mistune==2.0.5
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
ml-dtypes==0.1.0
mlxtend==0.20.0
moviepy==1.0.3
mpmath==1.3.0
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
multitasking==0.0.11
munkres==1.1.4
mysql==0.0.3
mysql-connector-python==8.1.0
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.1
nbclient==0.6.6
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio @ file:///C:/ci/nest-asyncio_1649829929390/work
networkx==3.1
nltk==3.8.1
notebook @ file:///C:/ci/notebook_1645002729033/work
numba==0.55.2
numpy @ file:///C:/b/abs_datssh7cer/croot/numpy_and_numpy_base_1672336199388/work
nvidia-ml-py==11.525.112
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathtools==0.1.2
patsy==0.5.3
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
platformdirs==3.2.0
plotly==5.14.1
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prince==0.10.3
proglog==0.1.10
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==4.21.12
psutil==5.9.5
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclustering==0.10.1.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck==0.8.0
pydotplus==2.0.2
PyDrive==1.3.1
pydub==0.25.1
pygame==2.4.0
Pygments==2.15.1
pygraphviz @ file:///C:/b/abs_1es96so72y/croot/pygraphviz_1671045593193/work
PyJWT @ file:///C:/ci/pyjwt_1657511236979/work
pymongo==4.3.3
Pympler==1.0.1
PyMySQL==1.1.0
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyPDF2 @ file:///C:/b/abs_09r7uvihrc/croots/recipe/pypdf2_1662469711628/work
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-Levenshtein==0.21.0
python-slugify==8.0.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp39-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657615952984/work
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtconsole @ file:///C:/ci/qtconsole_1657527102797/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
rapidfuzz==3.0.0
redis==4.5.4
regex==2023.3.23
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
requests-oauthlib==1.3.1
retrying @ file:///Users/ktietz/demo/mc3/conda-bld/retrying_1629465456590/work
rich==13.3.4
rsa==4.9
scikit-image==0.20.0
scikit-learn @ file:///D:/bld/scikit-learn_1679676068685/work
scikit-surprise==1.1.3
scipy==1.10.1
seaborn==0.11.2
semver==3.0.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentry-sdk==1.20.0
setproctitle==1.3.2
shap==0.41.0
sip==6.7.9
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
slicer==0.0.7
smmap==5.0.0
soupsieve==2.4.1
spotipy==2.23.0
SQLAlchemy==2.0.10
sqlparse==0.4.4
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.5
streamlit==1.21.0
surprise==0.1
sympy==1.11.1
tabulate==0.9.0
talos==1.3
tenacity @ file:///C:/Windows/TEMP/abs_980d07a6-8e21-4174-9c17-7296219678ads7dhdov_/croots/recipe/tenacity_1657899108023/work
tensorboard @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorboard_1669760968711/work/tensorboard-2.10.0-py3-none-any.whl
tensorboard-data-server @ file:///C:/b/abs_2fhvpo862s/croot/tensorboard-data-server_1670853600144/work/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.10.0
tensorflow-addons==0.20.0
tensorflow-datasets==4.9.2
tensorflow-estimator @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorflow-estimator_1669761460695/work/tensorflow_estimator-2.10.0-py2.py3-none-any.whl
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
termcolor==2.3.0
terminado @ file:///C:/ci/terminado_1644322780199/work
testpath @ file:///C:/Windows/TEMP/abs_23c7fa33-cbb9-46dc-b7c5-590c38e2de3d4bmbngal/croots/recipe/testpath_1655908553202/work
text-unidecode==1.3
tf-utils==1.0.4
tfds-nightly==4.9.2.dev202304240044
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile==2023.4.12
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchvision==0.15.1
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm==4.65.0
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
typeguard==3.0.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uritemplate==4.1.1
urllib3 @ file:///C:/b/abs_3ce53vrdcr/croot/urllib3_1680254693505/work
validators==0.20.0
vecstack==0.4.0
visdom==0.2.4
wandb==0.15.0
watchdog==3.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug @ file:///C:/b/abs_17q5kgb8bo/croot/werkzeug_1671216014857/work
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1644991377168/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
wrangle==0.7.2
wrapt==1.15.0
xgboost==1.7.5
xlrd==2.0.1
XlsxWriter==3.1.0
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
yfinance==0.2.18
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
